.description__beach {
  letter-spacing: 1pt;
  text-transform: none;
}

.container__section-beach {
  padding-left: 100px;
  padding-top: 70px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  max-width: 1550px;
  min-width: 10px;
  height: 100%;
}

.container__section-position-beach {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 35.2px;
  row-gap: 30px;
}

.position-beach {
  margin-top: 32px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 12px;
}

.beach__card {
  padding-bottom: 20px;
  padding-left: 20px;
}

.imagen__beach {
  height: 338px;
  width: 538px;
  object-fit: cover;
}

@media (max-width: 730px) {
  .container__section-beach {
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    max-width: 1550px;
    min-width: 10px;
    height: 100%;
  }
}
