.container_article h1 {
  font-size: 34px;
  margin-bottom: 65px;
}

.img_article {
  margin: auto;
  width: 980px;
  height: 454px;
}

.container__section_bio {
  padding-top: 70px;
  padding-left: 160px;
  margin: auto;
  /*display: flex;*/
  padding-right: 160px;
  max-width: 1300px;
  min-width: 10px;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 35%;
  padding: 10px;
  height: 210px; /* Should be removed. Only for demonstration */
}

.column2 {
  float: left;
  width: 65%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding-bottom: 10px;
  padding-top: 10px;
}
.column1 h2 {
  margin-bottom: 20px;
  font-size: 17px;
  text-transform: none;
  letter-spacing: 1pt;
}
.column2 .text_column {
  font-size: 15px;
  text-transform: none;
  letter-spacing: -0px;
  text-align: left;
}

.container__column2 {
  display: grid;
  grid-template-columns: minmax(30%, 45%) 2fr;
  grid-column-gap: 10ox;
  gap: 20px;
}
.text_coolumn2 {
  font-size: 15px;
  text-transform: none;
  letter-spacing: -0px;
  margin-bottom: 20px;
  font-size: 14px;
}

.text_coolumn2 p {
  text-align: left;
}

.text__title_coolumn2 {
  font-size: 15px;
  text-transform: none;
  letter-spacing: -0px;
  font-size: 14px;
  text-align: left;
}

/*INPUTS*/

input {
  margin-top: 10px;
  background: none;
  color: #301818;
  font-size: 15px;
  padding-bottom: 10px 10px 10px 10px;
  display: block;
  width: 90%;
  border: none;
  border-bottom: 1px solid;
}

input:focus {
  outline: none;
  color: #301818;
}

input:hover {
  border-bottom: 1px solid #301818;
  border: 1px solid #301818;
  font-size: 20px;
}

textarea {
  margin-top: 10px;
  background: none;
  color: #301818;
  font-size: 15px;
  padding-bottom: 10px 10px 10px 10px;
  display: block;
  border: none;
  border-bottom: 1px solid;
}

textarea:focus {
  outline: none;
  color: #301818;
}

textarea:hover {
  border-bottom: 1px solid #301818;
  border: 1px solid #301818;
}

.text_coolumn2 .input_c {
  margin-top: 10px;
  background: none;
  color: #301818;
  font-size: 15px;
  padding-bottom: 10px 10px 10px 10px;
  display: block;
  border: none;
  text-align: center;
  width: 220%;
}

.text_coolumn2 .input_c:focus {
  outline: none;
}

.text_coolumn2 .input_c:hover {
  border-bottom: none;
  border: none;
}

.text_coolumn2 .input_c {
  cursor: pointer;
}

textarea {
  resize: none;
  width: auto;
  width: 220%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #301818;
}
