.description__mp {
  letter-spacing: 1pt;
  text-transform: none;
}

.container__section-mp {
  padding-left: 100px;
  padding-top: 70px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  max-width: 1550px;
  min-width: 10px;
  height: 100%;
}

.container__section-position-mp {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 35.2px;
  row-gap: 30px;
}

.position-mp {
  margin-top: 32px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 12px;
}

.mp__card {
  padding-bottom: 20px;
  padding-left: 20px;
  
}

.imagen__mp {
  height: 338px;
  width: 538px;
  object-fit: cover;
  /*max-height: 538px;
  min-width: 738px;*/
}

.mp__card a img:hover {
  transform: scale(1);
}

/*object-fit: cover;*/

@media (max-width: 585px) {
  .container__section-mp {
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    max-width: 1550px;
    min-width: 10px;
    height: 100%;
    width: auto;
  }

  .imagen__mp {
    /*height: 338px;
    width: 538px;
    object-fit: contain;*/
    height: 178px;
    width: 350px;
    object-fit: cover;
  }

  .mp__card {
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
